<div class="studentlogin">
    <form class="studentloginform" [formGroup]="loginForm" (ngSubmit)="Validate()">
        <div class="form-group">
            <label for="userName" class="form-label">Username</label>
            <input type="text" class="form-control" formControlName="userName">
        </div>
        <div class="form-group">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Login</button> or
            <button class="btn btn-secondary" routerLink="/student">Register</button>
        </div>
    </form>
</div>
